body {
  background-color: beige;
  background-size: cover;
  max-width: 100%;
}
@font-face {
  src: url(fonts/morpheus/MORPHEUS.TTF) format('truetype');
  font-family: morpheus; 
} 
/*--------------------------CONTAINERS----------------------------*/
#title-container {
  background-color: whitesmoke;
  box-shadow: 0 5px 5px 0;
  position: fixed;
  display: flex;
  text-align: center;
  width: 100%;
  margin: -10px 0px 0px 0px;
}
#page-container {
  position: relative;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
  display: flex;
}
/*--------------------------TITLES----------------------------*/
.title-1 {
  font-family: morpheus;
  display: flex;
  flex-direction: row;
  -webkit-text-stroke-width: medium;
  margin: auto;
  text-align: center;
  padding: 10px 10px 10px 10px;
}
.home-title {
  font-family: morpheus;
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  top: 100px;
  text-align: center;
  letter-spacing: 20px;
  /* text-decoration: underline; */
  -webkit-text-stroke-width: light;
}
/*----------------------------TEXT----------------------------------*/
.link {
  color: black;
  text-decoration: none;
}
/*---------------------------BUTTONS--------------------------------*/
.welcome-screen-button {
  background-color: whitesmoke;
  position: relative;
  display: flex;
  border: 2px solid black;
  margin: auto;
  padding: 10px 10px 10px 10px;
  width: 15%;
  text-align: center;
  
}
.learning-plan-box {
  background-color: whitesmoke;
  position: relative;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 50px;
  width: 500px;
  padding: 20px 20px 20px 20px;
  letter-spacing: 15px;
  font-family: morpheus;
  display: inline-block;
  position: relative;
  text-align: center;
  /* margin: auto; */
}
.research-box {
  background-color: whitesmoke;
  position: relative;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 50px;
  width: 500px;
  padding: 20px 20px 20px 20px;
  letter-spacing: 15px;
  font-family: morpheus;
  display: inline-block;
  position: relative;
  text-align: center;
  /* margin: auto; */
}
.emotional-intellegence-box {
  background-color: whitesmoke;
  position: relative;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 50px;
  width: 500px;
  padding: 20px 20px 20px 20px;
  letter-spacing: 15px;
  font-family: morpheus;
  display: inline-block;
  position: relative;
  text-align: center;
  /* margin: auto; */
}
.javascript-discussion-box {
  background-color: whitesmoke;
  position: relative;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 50px;
  width: 500px;
  padding: 20px 20px 20px 20px;
  letter-spacing: 15px;
  font-family: morpheus;
  display: inline-block;
  position: relative;
  text-align: center;
  /* margin: auto; */
}
/*-------------------------IMAGES-------------------------*/
.earth {
  position: relative;
  flex-direction: column;
  align-self: center;
  left: 33%;
}
/*----------------------------MEDIA QUERIES---------------------------*/
@media screen and (max-width: 320px) {
body {
  max-width: 100%;
  position: relative;
  } 
}
@media screen and (max-width: 720px) {
body {
  max-width: 100%;
  position: relative;
  }
}
@media screen and (max-width: 1200px) {
body {
  max-width: 100%;
  position: relative;
  } 
}