body {
  background-color: beige;
  background-size: cover;
  max-width: 100%;
}
@font-face {
  src: url(fonts/morpheus/MORPHEUS.TTF) format('truetype');
  font-family: morpheus; 
} 
/*--------------------------CONTAINERS----------------------------*/
#title-container {
  background-color: whitesmoke;
  box-shadow: 0 5px 5px 0;
  position: fixed;
  display: flex;
  text-align: center;
  width: 100%;
  margin: -10px 0px 0px 0px;
}
#page-container {
  position:
  flex-direction: column;
  margin: 10px 10px 10px 10px
}
/*--------------------------TITLES----------------------------*/
.title-1 {
  font-family: morpheus;
  display: flex;
  flex-direction: row;
  -webkit-text-stroke-width: medium;
  margin: auto;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

/*-------------------------IMAGES-------------------------*/
.earth {
  position: relative;
  flex-direction: column;
  align-self: center;
  left: 33%;
}